<a11y-forms-card>
	<header>
		<h1>Formulario Malvado 😈</h1>
		<p>
			Este formulario parece estar bien, pero en realidad tiene muchos
			problemas.
		</p>
	</header>

	<form [formGroup]="form">
		<div class="form-control" [ngClass]="{ submitted: submitted }">
			<div class="label">
				<span class="title">Nombre:</span>
				<span class="required">*</span>
			</div>
			<input type="text" formControlName="firstName" />
		</div>
		<div
			*ngIf="
				form.get('firstName').errors &&
				(submitted || form.get('firstName').dirty)
			"
		>
			<p *ngIf="form.get('firstName').errors.required" class="error">
				Por favor, ingresa tu nombre.
			</p>
		</div>
		<div class="form-control" [ngClass]="{ submitted: submitted }">
			<div class="label">
				<span class="title">Apellido:</span>
				<span class="required">*</span>
			</div>
			<input type="text" formControlName="lastName" />
		</div>
		<div
			*ngIf="
				form.get('firstName').errors &&
				(submitted || form.get('firstName').dirty)
			"
		>
			<p *ngIf="form.get('firstName').errors.required" class="error">
				Por favor, ingresa tu apellido.
			</p>
		</div>
		<div class="form-control">
			<div class="label">
				<span class="title">Edad:</span>
			</div>
			<input type="number" max="120" formControlName="age" />
		</div>
		<div class="form-control" [ngClass]="{ submitted: submitted }">
			<div class="label">
				<span class="title">Telefono:</span>
				<span class="required">*</span>
			</div>
			<input type="phone" formControlName="phone" />
		</div>
		<div
			*ngIf="
				form.get('firstName').errors &&
				(submitted || form.get('firstName').dirty)
			"
		>
			<p *ngIf="form.get('firstName').errors.required" class="error">
				Por favor, ingresa tu telefono.
			</p>
		</div>
	</form>

	<div class="actions">
		<button (click)="submit()">Enviar</button>
		<button (click)="reset()">Restablecer</button>
	</div>
</a11y-forms-card>
